<h1>Tech Blog</h1>

{{#each blogs}}

<div class="blogs">
    <a href="/blogs/{{id}}" class="body"> </a>

    <h3 class="card-title"> {{title}} </h3>

    <h4> Posted by: {{user.username}} on </h4>
    {{/each}}
</div>