{{#each blogs}}
<div class="padding">
    <div class="card">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{description}}</h5>
            <p class="card-text">Posted by: {{user.username}}</p>
            <a href="/comment/" class="btn btn-primary">Comment</a>
        </div>
    </div>
</div>
{{/each}}